// boards/shields/numpad01/numpad01.overlay

#include <dt-bindings/zmk/matrix_transform.h>
#include "numpad01-layouts.dtsi"

/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";

        /*
         * IMPORTANT:
         * Change this if your diodes are reversed
         */
        diode-direction = "col2row";

        /*
         * ROWS (6)
         * Use valid nice!nano GPIO controller
         */
        row-gpios = <
            &gpio0 6  GPIO_ACTIVE_HIGH
            &gpio0 8  GPIO_ACTIVE_HIGH
            &gpio0 17 GPIO_ACTIVE_HIGH
            &gpio0 20 GPIO_ACTIVE_HIGH
            &gpio0 22 GPIO_ACTIVE_HIGH
            &gpio0 24 GPIO_ACTIVE_HIGH
        >;

        /*
         * COLS (4)
         */
        col-gpios = <
            &gpio0 9  GPIO_ACTIVE_HIGH
            &gpio0 10 GPIO_ACTIVE_HIGH
            &gpio0 11 GPIO_ACTIVE_HIGH
            &gpio0 12 GPIO_ACTIVE_HIGH
        >;
    };
};